{
	auto_https off
}

:80 {
	encode zstd gzip

	basic_auth {
		{$BASIC_AUTH_USER} {$BASIC_AUTH_PASSWORD_HASH}
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
	}

	reverse_proxy cvpolisher:3443
}
